
h1{
    text-align: center;
}

main{
    text-align: center;
}



input{
    
    margin-right: 10px;
    padding: 10px 18px;
    border-radius: 12px;
}

#add{
    background-color: #CA3884;
    color: #FFFFFF;

}